<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  {% block head %}
  {% endblock %}
  <script src="{% static 'js/actions.js' %}"></script>
</head>
<body>

  <header>
    <div class="container-fluid bg-light border">
      <div class="container p-2">
        <div class="row no-gutters">
          <div class="col-md-1">
            <a class="navbar-brand" href="/"><img src="{% static 'img/logo.png' %}" width="80" alt=""></a>
          </div>

          <div class="col-md-6 col-sm-12 ml-md-4 mt-1 mt-md-0">
            <form class="inline-form" id="searchForm">
              <input class="form-control m-1 mr-sm-2 w-100 h-75" type="search" id="searchInput" placeholder="Введіть ваш запит...">
            </form>
          </div>

          <div class="col-md-4 col-sm-12 mt-1 mt-md-0">
            <button class="btn btn-outline-dark m-1 ml-md-2 h-75" id="searchBtn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            <a href="/entity/add"><button class="btn btn-dark text-light m-1 w-50 h-75 float-right" type="submit">Додати</button></a>
          </div>
        </div>
      </div>
    </div>
  </header>

  {% if err_msg is not none %}
    <p class="text-danger text-center mt-3">{{err_msg}}</p>
  {% elif info_msg is not none %}
    <p class="text-info text-center mt-3">{{info_msg}}</p>
  {% endif %}

  {% block content %}
  {% endblock %}

  <script>
    document.getElementById('searchBtn').addEventListener('click', function() {
      var searchQuery = document.getElementById('searchInput').value;
      search_query(searchQuery);
    });

    document.getElementById('searchForm').addEventListener('submit', function(event) {
      event.preventDefault();
      var searchQuery = document.getElementById('searchInput').value;
      search_query(searchQuery);
  });
  </script>

</body>
</html>
